.CTextAbs{
	position:absolute;
	font-size:14px;
}
.CImgBtn{
	position:absolute;
	width:35px;
	height:50px;
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	filter:alpha(opacity=30);
}
#ChildSelect{
	position:absolute;
	font-size:10px;
}
.CParentImg{
	position:absolute;
	width:42px;
	height:60px;
}
.CGrandPImg{
	position:absolute;
	width:21px;
	height:30px;
}